mixin mapper(map, path = '')
  - for (const [name, items] of Object.entries(map))
      if (Object.values(items).length > 0)
        li.uk-parent
          a(href='#') #{name}
          ul.uk-nav-parent-icon.uk-nav-sub(uk-nav='multiple: true' data-category)
            +mapper(items, path + '/' + name)
      else
        li
          a.uk-display-inline-block(href='#' + path + '/' + name data-updatable data-item) #{name} 
          a.uk-display-inline-block.uk-align-right.uk-margin-remove(href='#' uk-icon="icon: code; ratio: 0.7" uk-toggle='target: #explanation; animation: uk-animation-fade' style="padding: 2.5px;" data-updatable data-tutorial-link="#" + path + '/' + name + '#tutorial')

html
  head
    include meta.pug
    style.
      @import url('https://fonts.googleapis.com/css?family=Cabin|Fjalla+One|Montserrat|Oxygen');
    script(src='/examples/assets/js/slideout.min.js')
    include style.pug
  body
    .uk-grid-collapse(class='uk-child-width-expand@s' uk-grid uk-height-viewport)
      div(class="uk-width-1-4@m" uk-height-viewport)
        .uk-background-muted.uk-padding.uk-height-viewport.sidebar
          h1.uk-nav-header Examples &nbsp;&nbsp;<b>V 2.2.0</b> (Beta)
          div.uk-width-1-1
            include _search.pug
            ul.uk-nav-default.uk-nav-parent-icon(uk-nav='multiple: true')
              +mapper(map)
          
              li.uk-nav-header Other
              li
                a(href='https://github.com/WhitestormJS/whs.js/releases' target='_blank')
                  span.uk-margin-small-right(uk-icon='icon: download')
                  |  Install / Download
              li
                a(href='https://whs.io/' target='_blank')
                  span.uk-margin-small-right(uk-icon='icon:  file-edit')
                  |  Documentation
              li.uk-nav-divider
              li
                a(href='https://github.com/WhitestormJS/whs.js/issues' target='_blank')
                  span.uk-margin-small-right(uk-icon='icon: comments')
                  |  Make an issue
              li
                a(href='https://github.com/WhitestormJS/whs.js' target='_blank')
                  span.uk-margin-small-right(uk-icon='icon: github')
                  |  GitHub (source code)

      div.uk-background-primary.uk-padding.uk-height-viewport.uk-padding-remove.uk-position-relative#panel
        div.uk-position-absolute.uk-light.uk-align-center.uk-position-center(uk-spinner="ratio: 2")
        iframe.uk-position-absolute.uk-transition-fade.uk-position-left(src="/no")
        div.uk-width-1-1.uk-position-absolute.uk-padding-large#explanation(aria-hidden="true" hidden)
          
          article.uk-comment#explanation-holder
            //- header.uk-comment-header.uk-grid-medium.uk-flex-middle(uk-grid='')
            //-   .uk-width-expand
            //-     h4.uk-comment-title.uk-margin-remove
            //-       a.uk-link-reset(href='#') Cube example explanation
            //-     ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
            //-       li
            //-         a(href='#') 12 days ago
            //-       li
            //-         a(href='#') Reply
            //- .uk-comment-body
            //-   p
            //-     | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            //- 
            //- pre.uk-section-muted
            //-   code
            //-     | const app = new WHS.App([
            //-     |   new WHS.ElementModule(),
            //-     |   new WHS.SceneModule(),
            //-     |   new WHS.DefineModule('camera', new WHS.PerspectiveCamera(UTILS.appDefaults.camera)),
            //-     |   new WHS.RenderingModule(UTILS.appDefaults.rendering, {
            //-     |     shadow: true
            //-     |   }),
            //-     |   new PHYSICS.WorldModule(UTILS.appDefaults.physics),
            //-     |   new WHS.OrbitControlsModule(),
            //-     |   new WHS.ResizeModule(),
            //-     |   new StatsModule()
            //-     | ]);
            //- 
            //- //- h1.uk-article-title
            //- //-   a.uk-link-reset(href='') Heading
            //- p.uk-article-meta
            //-   | Written by 
            //-   a(href='#') Super User
            //-   |  on 12 April 2012. Posted in 
            //-   a(href='#') Blog
            //- .uk-grid-small.uk-child-width-auto(uk-grid='')
            //-   div
            //-     a.uk-button.uk-button-text(href='#') Read more

          
      //- #offcanvas-flip(uk-offcanvas='flip: true; overlay: true')
      //-   div.uk-offcanvas-bar.uk-width-3-4
      //-     button.uk-offcanvas-close(type='button', uk-close='')
      //-     h3 Title
      //-     p
      //-       | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

    //- article.uk-article
    //-   h1.uk-article-title
    //-     a.uk-link-reset(href='') Heading
    //-   p.uk-article-meta
    //-     | Written by 
    //-     a(href='#') Super User
    //-     |  on 12 April 2012. Posted in 
    //-     a(href='#') Blog
    //-   p.uk-text-lead
    //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
    //-   p
    //-     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    //-   .uk-grid-small.uk-child-width-auto(uk-grid='')
    //-     div
    //-       a.uk-button.uk-button-text(href='#') Read more
    //-     div
    //-       a.uk-button.uk-button-text(href='#') 5 Comments


    //- div.ui.menu.sidebar.vertical.inverted.left.overlay.visible.styled#sidebar
    //-   h2.item.ui.header#top-nav
    //-     a.ui.huge.logo.image(href='/')
    //-       img(src='https://avatars3.githubusercontent.com/u/16437392?v=3&s=200')
    //-     div.content
    //-       span Examples
    //-       div.sub.header
    //-         a(href='https://github.com/WhitestormJS/whitestorm.js' target='_blank') GitHub
    //-         = " "
    //-         span /
    //-         = " "
    //-         a(href='https://whs.io/' target='_blank') Docs
    //-         = " "
    //-         span /
    //-         = " "
    //-         a(href='https://discordapp.com/invite/frNetGE' target='_blank') Chat
    //- 
    //-   div(class="ui left icon fluid input")
    //-     input(type="text" id="filter" placeholder="Filter examples...")
    //-     i(class="remove circle icon")
    //- 
    //-   div(class="ui large breadcrumb" id="path")
    //-     a(class="section" id="cat_") basic
    //-     i(class="right chevron icon divider")
    //-     div(class="active section" id="ex_") helloworld
    //- 
    //-   each category in categories
    //-     div.item.category
    //-       h2.ui.header #{category}
    //-       div.vertical.pointing.menu
    //-         each path in paths
    //-           if !path.indexOf(category)
    //-             div.item.minor
    //-               a.ui.medium.header(href='?' + path) #{path.replace('/', ' / ')}
    //- 
    //- a.source.desktop(href="/" target="_blank") Source code
    //- 
    //- div#panel
    //-   div.slide-zone

    script.
      var rootPath = #{devMode} ? '' : '/examples';
    script(src='/examples/assets/js/script.js')
